:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: ##302a15;
    --foreground: #ededed;
  }
} 
* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  min-width: 500px;
}

/* .navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 16px 0;
  text-align: center;
  z-index: 1000;
}

.nav-links {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease-in-out;
}

.nav-link:hover {
  color: #d1d5db;
} */



/* Efekt paralaksy */
.parallax {
  height: 100vh;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

/* Tła dla poszczególnych sekcji */
.home {
  background-image: url('/home-bg.jpg');
}

.about {
  background-image: url('/bg.jpg');
}

.info {
  background-image: url('/info-bg.jpg');
}

.contact {
  background-image: url('/contact-bg.jpg');
}
.overlayblur {
  position: absolute;
  left: 0;
  width: 100%;
  height: 20px; /* Wysokość strefy rozmycia */
  /* background: repeating-linear-gradient(); */
  /* background: rgba(255, 255, 255, 0.5); */
  backdrop-filter: blur(3px); /* Rozmycie */
  pointer-events: none; /* Nie blokuje interakcji */
  z-index: 1;
}