@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #ff6b35;
  --primary-hover: #ff8c5a;
  --secondary: black;
  --tertiary: black;
  --text: #f5f5f5;
  --text-secondary: #d1d1d1;
  --accent: #ff914d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: ##302a15;
    --foreground: #ededed;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  min-width: 100vw;
  background-color: var(--tertiary);
  color: var(--text);
  overflow-x: hidden;
  line-height: 1.6;
  background-image: radial-gradient(
      at 80% 0%,
      hsla(189, 100%, 56%, 0.05) 0px,
      transparent 100%
    ),
    radial-gradient(at 0% 50%, hsla(355, 100%, 93%, 0.05) 0px, transparent 100%);
}
/* Modern Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--tertiary);
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 4px;
}
